.Home {
  background-color: var(--secondary-color)!important;
}

.home--bg {
  background-color: var(--primary-color)!important;
}

.home__img--size {
  width: 25%;
  height: 25%;
}

.jumbotron {
  background-image: url("../assets/images/hero-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(100vh - 25px);
  /* this gives a continuous flow to the section below without an ugly white line */
  margin: 0;
}

.jumbotron-image {
  height: 200px;
  width: auto;
}

.jumbotron-text h1 {
  text-align: center;
}