.Projects {
  background-color: var(--secondary-color)!important;
}


.card {
  background-color: var(--tetriary-color)!important;
}

.btn-primary {
  background-color: var(--primary-color)!important;
}

.btn {
  background-color: var(--primary-color)!important;
}