:root {
  --chamoisee: #997646ff;
  --ecru: #caac75ff;
  --lemon-chiffon: #fefac1ff;
  --light-green: #a5ee9dff;
  --malachite: #73db6aff;
  --kelly-green: #3ec030ff;

  --primary-color: var(--kelly-green);
  --secondary-color: var(--ecru);
  --tetriary-color: var(--chamoisee);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

